.personalInfo {
  background-color: whitesmoke;
  padding: 2vh;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.5rem;
  width: 68%;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer > input {
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid black;
  padding: 1vh;
  width: 60%;
}

.inputContainer > p {
  margin: 2vh;
  width: 40%;
}
